<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CNC_CODE_GENERATOR_APP"
        tools:targetApi="31">
        <activity
            android:name=".FinishingCycles.Internal_Finishing_Cycles.INTERNAL_FINISHING_CYCLE_Z_DIRECTION_ADVANCED"
            android:exported="false" />
        <activity
            android:name=".FinishingCycles.Internal_Finishing_Cycles.INTERNAL_FINISHING_CYCLE_X_DIRECTION_LONG_CODE"
            android:exported="false" />
        <activity
            android:name=".FinishingCycles.Internal_Finishing_Cycles.INTERNAL_FINISHING_CYCLE_Z_DIRECTION_LONG_CODE"
            android:exported="false" />
        <activity
            android:name=".FinishingCycles.Internal_Finishing_Cycles.INTERNAL_FINISHING_CYCLE_Z_DIRECTION_ADVANCED_APPROACH"
            android:exported="false" />
        <activity
            android:name=".FinishingCycles.Internal_Finishing_Cycles.INTERNAL_FINISHING_CYCLE_X_DIRECTION_LC_APPROACH"
            android:exported="false" />
        <activity
            android:name=".FinishingCycles.Internal_Finishing_Cycles.INTERNAL_FINISHING_CYCLE_Z_DIRECTION_LC_APPROACH"
            android:exported="false" />
        <activity
            android:name=".FinishingCycles.External_Finishing_Cycles.EXTERNAL_FINISHING_CYCLE_Z_DIRECTION_ADVANCE_APPROACH"
            android:exported="false" />
        <activity
            android:name=".FinishingCycles.External_Finishing_Cycles.EXTERNAL_FINISHING_CYCLE_X_DIRECTION_LC_APPROACH"
            android:exported="false" />
        <activity
            android:name=".FinishingCycles.External_Finishing_Cycles.EXTERNAL_FINISHING_CYCLE_Z_DIRECTION_LC_APPROACH"
            android:exported="false" />
        <activity
            android:name=".FinishingCycles.External_Finishing_Cycles.EXTERNAL_FINISHING_CYCLE_Z_DIRECTION_ADVANCED"
            android:exported="false" />
        <activity
            android:name=".FinishingCycles.External_Finishing_Cycles.EXTERNAL_FINISHING_CYCLE_X_DIRECTION_LONG_CODE"
            android:exported="false" />
        <activity
            android:name=".FinishingCycles.External_Finishing_Cycles.EXTERNAL_FINISHING_CYCLE_Z_DIRECTION_LONG_CODE"
            android:exported="false" />
        <activity
            android:name=".RoughingCycles.InternalRoughingCycles.InternalRoughingCycle_Advance_LCApproach"
            android:exported="false" />
        <activity
            android:name=".RoughingCycles.InternalRoughingCycles.InternalRoughingCycle_X_Direction_G72"
            android:exported="false" />
        <activity
            android:name=".RoughingCycles.InternalRoughingCycles.InternalRoughingCycle_X_DirApproach"
            android:exported="false" />
        <activity
            android:name=".RoughingCycles.InternalRoughingCycles.InternalRoughingCycle_Z_DirApproach"
            android:exported="false" />
        <activity
            android:name=".RoughingCycles.ExternalRoughingCycles.ExternalRouhingCycle_Advance_LCApproach"
            android:exported="false" />
        <activity
            android:name=".RoughingCycles.ExternalRoughingCycles.ExternalRouhingCycle_X_DirApproach"
            android:exported="false" />
        <activity
            android:name=".RoughingCycles.ExternalRoughingCycles.ExternalRougingCycle_Z_DirApproach"
            android:exported="false" />
        <activity
            android:name=".RoughingCycles.InternalRoughingCycles.InternalRoughingCycleAdvanceLongCode"
            android:exported="false" />
        <activity
            android:name=".RoughingCycles.InternalRoughingCycles.InternalRoughingCycle_Z_Direction_G71"
            android:exported="false" />
        <activity
            android:name=".RoughingCycles.ExternalRoughingCycles.ExternalRoughingCycleAdvanceLongCode"
            android:exported="false" />
        <activity
            android:name=".RoughingCycles.ExternalRoughingCycles.ExternalRoughingCycle_X_DirectionG72"
            android:exported="false" />
        <activity
            android:name=".RoughingCycles.ExternalRoughingCycles.ExternalRoughingCycle_Z_DirectionG71"
            android:exported="false" />
        <activity
            android:name=".CuttingCycles.CuttingCyclesActivity"
            android:exported="false" />
        <activity
            android:name=".ThreadingCycles.ThreadingCyclesActivity"
            android:exported="false" />
        <activity
            android:name=".FinishingCycles.FinishingCyclesActivity"
            android:exported="false" />
        <activity
            android:name=".GroovingCycles.GroovingCyclesActivity"
            android:exported="false" />
        <activity
            android:name=".RoughingCycles.RoughingCyclesActivity"
            android:exported="false" />
        <activity
            android:name=".facingCycles.FacingCycleUpDirectionG94"
            android:exported="false" />
        <activity
            android:name=".facingCycles.FacingCycleDownDirectionG94"
            android:exported="false" />
        <activity
            android:name=".facingCycles.FacingCycleUpDirActivity"
            android:exported="false" />
        <activity
            android:name=".facingCycles.FacingCycleDownDirActivity"
            android:exported="false" />
        <activity
            android:name=".facingCycles.FacingCycleActivity"
            android:exported="false" />
        <activity
            android:name=".SaveProgramToFolderActivity"
            android:exported="false" />
        <activity
            android:name=".ProgramStartingInformationActivity"
            android:exported="false" />
        <activity
            android:name=".StartNewProgramActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>